#notes {
  overflow-x: scroll;
}

svg {
  fill: none;
}

line {
  stroke-width: 1.5px;
  stroke: #BBB;
}

rect {
  stroke-width: 5px;
  stroke-opacity: 0.5;
  opacity: 0.75;
  transition: all .2s ease-in-out;
}

rect:hover {
  stroke-width: 9px;
  opacity: 1.0;
  cursor: pointer;
}

text {
  font-size: 15px;
  font-family: sans-serif;
}

.c {
  fill: #105B63;
  stroke: #105B63;
}

.i {
  fill: #BD4932;
  stroke: #BD4932;
}

.b {
  fill: #CCA32E;
  stroke: #CCA32E;
}
